<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite verbose="5" name="RegressionSuite" parallel="tests">
  
  <test thread-count="5" name="ChromeTest">
    <classes>
      <class name="com.testyantra.eshopping.testscripts.criticaltests.kart.TC003"/>
    </classes>
  </test>
  
  <!-- <test thread-count="5" name="FirefoxTest">
   <parameter name="browserName" value="firefox"></parameter>
   <classes>
     <class name="com.testyantra.eshopping.testscripts.criticaltests.kart.TC001"/>
   </classes>
  </test> -->


</suite>
